{% load i18n %}{% autoescape off %}
{% url 'users:password_reset_confirm' uidb64=uid token=token as reset_url %}
{% blocktrans %}Bonjour {{ user.get_full_name|default:user.username }},

Vous avez demandé une réinitialisation de mot de passe pour votre compte sur {{ site_name }}.

Cliquez sur le lien ci-dessous pour définir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{{ reset_url }}

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email en toute sécurité. Votre mot de passe ne sera pas modifié.

Ce lien expirera dans quelques heures pour des raisons de sécurité.

Cordialement,
L'équipe {{ site_name }}
{% endblocktrans %}
{% endautoescape %}